{% extends "layout.twig" %}

{% block content %}

    <!-- Header Include -->
    {% include "Includes/header.twig" %}

    <!-- Page Content -->
    <section class="template-content">

        <div class="container">

            <!-- Main Widget Zone -->
            {{zone('main')|raw}}

        </div>

    </section>
    <!-- End Page Content -->

    {% include "Includes/footer.twig" %}

{% endblock %}