<!-- Footer -->
<footer class="template-footer">

	<div class="container-footer">
        <div class="footer-content">

        {{widget('socialicons', 'footer-socialnetworks', {'googleplus': 'profile', 'linkedin':'profile', 'facebook': 'profile', 'twitter': 'profile', 'youtube': 'profile', 'rss': 'profile'})|raw}}

        {{widget('content', 'footer-content', { content: '<p>© Lorum Ipsum 2015</p>'})|raw}}
	   </div>
    </div>

</footer>
<!-- End Footer -->
